<!DOCTYPE html>
<html lang="en">
    
    <%- include('partials/head.ejs') %> 
    
    <body>
        
        <main class="main-edit-create">
    
            <a class="logo-form" href="/"><img id="logo" src="/images/FreeFood2f.png" alt="logo"></a>
           
            <h1>Agrega un producto</h1>
    
            <form class="input-container-form" action="/products" method="POST" enctype="multipart/form-data">

                <!--<label for="id"><h4>ID del producto</h4></label>
                <div class="info-container-div">
                    <i class="fas fa-file-signature"></i>
                    <input type="number" name="id" id="id" placeholder="ej: 00" required minlength="1">
                </div>-->

                <label for="name"><h4>Nombre del producto</h4></label>
                <div class="info-container-div">
                    <i class="fas fa-file-signature"></i>
                    <input type="text" name="name" id="name" placeholder="ej: Milanesa con puré" required minlength="1">
                </div>

                <label for="price"><h4>Precio</h4></label>
                <div class="info-container-div">
                    <i class="fas fa-dollar-sign"></i>
                    <input type="number" name="price" id="price" placeholder="ej: 00,00" required min="1" pattern="^\d*(\.\d{0,2})?$">
                </div>

                <label for="idCat"><h4>Categoria</h4></label>
                <div class="info-container-div">
                    <i class="fas fa-clipboard-list"></i>
                    <select name="idCat" id="idCat">
                        <option value="" selected disabled hidden>Categoria</option>
                        <option value="entrada">Entrada</option>
                        <option value="platoFuerte">Plato Principal</option>
                        <option value="postre">Postre</option>
                        <option value="bebida">Bebida</option>
                    </select>    
                </div>

                <label for="status"><h4>Estado de producto</h4></label>
                <div class="info-container-div">
                    <i class="fas fa-clipboard-list"></i>
                    <select name="status" id="status">
                        <option value="" selected disabled hidden>Estado</option>
                        <option value="novedad">Novedad</option>
                        <option value="oferta">Oferta</option>
                        <option value="recomendado">Recomendado</option>
                        <option value="mas-vendido">Mas Vendido</option>
                    </select>    
                </div>

                <label for="discount"><h4>Cantidad de descuento</h4></label>
                <div class="info-container-div">
                    <i class="fas fa-percent"></i>
                    <input type="number" name="discount" id="discount" placeholder="ej: 00" required min="0" max="100">
                </div>

                <label for="img"><h4>Imagen del producto (.png/.jpg)</h4></label>
                <div class="info-container-div">
                    <i class="fas fa-file-image"></i>
                    <input class="img-input" type="file" id="img" name="img" accept="image/png, image/jpeg" required>
                </div>
                
                <label for="description"><h4>Descripcion del producto</h4></label>
                <textarea name="description" id="description" cols="30" rows="5" maxlength="500" placeholder="Descripcion (max 500 caracteres)"></textarea>
                
                <div class="btn-container">
                    <button type="submit">Guardar</button>
                    <button type="reset">Borrar</button>
                </div>
                 
            </form>
            
        </main>
    
    </body>
</html>