<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    
    <%- include('partials/header.ejs') %>

    <main class="main-user">

        <form class="log-container-profile" action="/user" method="GET">
            <div>
            <!--<div  class="buy-navbar" >-->
                <a href="#">Historial de compras</a>
              <!--  <a href="/cart"><i class="fas fa-shopping-cart"></i>Ir al Carrito</a>-->
            </div>
            
            <br>
            
            <h2>Información personal</h2>

            <h5></h5>   
            
            <div class="container">

                <i class="fas fa-id-badge"></i>
                
                <input class="log-item" type="text" name="name" id="name" placeholder="Nombre y apellido" required minlength="10">

            </div>

            <div class="container">

                <i class="fas fa-map-marker-alt"></i>
                
                <input class="log-item" type="text" name="Domicilio" id="Domicilio" placeholder="Domicilio" required minlength="8">

            </div>

            <div class="container">

                <i class="fas fa-mobile-alt"></i>
                
                <input class="log-item" type="tel" name="telefono" id="telefono" placeholder="Teléfono" required minlength="10">

            </div>

            

            <div class="container">

                <i class="fas fa-user"></i>
                
                <input class="log-item" type="text" name="userLog" id="userLog" placeholder="Usuario" required minlength="6">

            </div>

          
            <div class="container">

                <i class="fas fa-at"></i>

                <input class="log-item" type="email" name="mailLog" id="mailLog" placeholder="E-Mail" required minlength="13">

            </div>
            
            <div class="container">

                <i class="fas fa-lock"></i>
                
                <input class="log-item" type="password" name="passLog" id="passLog" placeholder="Contraseña" required minlength="8">

            </div>

            <div class="container">

                <i class="fas fa-lock"></i>
                
                <input class="log-item" type="password" name="passLog" id="rePassLog" placeholder="Repetir Contraseña" required minlength="8">

            </div>             
            
            <div class="container-button">
                
                <button class="log-button">Guardar</button>
                
                <button class="log-button" type="reset">Borrar</button>

            </div>     
             
        </form>
        
    </main>

    <%- include('partials/footer.ejs') %> 

</body>
