/*Parametros globales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 235, 235);
    font-family: 'Patrick Hand', sans-serif
}

/*Estilos del header*/
header{
    background-color: #efebe2;
    color: #5e451b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin: 10px 0px;
    width: 200px;
    height: 100px;
}
.search-bar {
    display: block;
    width: 100%;
    height: 30px;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    color: #aaa
}
.burger-menu {
    margin: 10px 15px;
    padding: 10px;
}
.burger-menu i {
    font-size: 25px;
}

.nav-bar{
    display: none;
}
.nav-bar ul li {
    display: inline-block;
    padding: 0px 25px;
    margin: 5px 0px
}

.fas.fa-shopping-cart {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}
.fas.fa-user-circle {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}





/*Estilos del footer*/
footer {
    background-color: #897d69;
    color: #4c3524;
}
.foot-container {
    margin: 0px 10px;
    display: flex;
    justify-content: space-around;
}
.listas{
    text-decoration: none;
    font-size: 14px;
}
.foot-container ul li {
    margin: 15px 10px;
}
.m-socials-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.m-socials-container ul li {
    margin: 5px;
}
.tab-lap-social {
    display: none;
}

.fab.fa-twitter{
    font-size: 25px;
}
.fab.fa-facebook{
    font-size: 25px;
}

.fab.fa-whatsapp{
    font-size: 25px;
}

.fab.fa-instagram{
    font-size: 25px;
}



/*media queries para adaptar el sitio*/
@media (min-width: 768px) {
    header {
        justify-content: space-between;
    }
    .m-socials-container{
        display: none;
    }
    .tab-lap-social{
        display: flex;
        flex-direction: column;
    }
    ul.tab-lap-social li{
        margin: 5px;
    }
}

@media (min-width: 1024px) {
    header {
        justify-content: space-around;
    }
    .cu-icon {
        margin-right: 30px;  
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
    }
    .burger-menu{
        display: none;
    }
}


/*Lineas agregadas por andres*/
.container-fluid {
    padding: 10px;
    margin: 0px;
}

.carousel-inner {
    max-height: 400px;
}
.carousel-item {
    max-height: 400px;
}
.carousel-item img{
    height: 100%;
    width: 100%;    
}