/*Parámetros globales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 235, 235);
    font-family: 'Archivo Narrow', sans-serif
}
a {
    color: #4c3524;
    text-decoration: none;
    transition-duration: 0.25s;
}
a:hover{
    background-color: #87c99b;
    border-radius: 3px;
}

/* Estilos del header */
header{
    background-color: #efebe2;
    color: #5e451b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 200px;
    /* height: 100px; */
}
.search-bar {
    display: block;
    width: 100%;
    height: 30px;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    color: #aaa;
}
.burger-menu {
    margin: 10px 15px;
    padding: 10px;
}
.burger-menu i {
    font-size: 25px;
}
.nav-bar{
    display: none;
}

.fas.fa-shopping-cart {
    margin-left: 10px;
    margin-right: 6px; /* Modificado por Laura, porque en 360px el ícono del carrito se bajaba */
    font-size: 25px;
}
.fas.fa-user-circle {
    margin-left: 6px; /* Modificado por Laura, porque con 10px en pantallas de 360px el ícono del carrito se bajaba */
    margin-right: 10px;
    font-size: 25px;
}

/* Líneas agregadas por Laura */

.fas.fa-shopping-cart:hover{
    background-color: #87c99b;
    border-radius: 3px;
}

.fas.fa-user-circle:hover{
    background-color: #87c99b;
    border-radius: 3px;
}





/* Estilos del footer */
footer {
    background-color: #897d69;
    color: #4c3524;
}
.foot-container {
    margin: 0px 10px;
    display: flex;
    justify-content: space-around;
}
.listas{
    text-decoration: none;
    font-size: 14px;
}
.foot-container ul li {
    margin: 15px 10px;
}
.m-socials-container {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center; /* Agregada por Laura */
}
.m-socials-container ul li {
    margin: 5px;
}
.tab-lap-social {
    display: none;
}

.fab.fa-twitter{
    font-size: 25px;
}
.fab.fa-facebook{
    font-size: 25px;
}

.fab.fa-whatsapp{
    font-size: 25px;
}

.fab.fa-instagram{
    font-size: 25px;
}



/* Media queries para adaptar el sitio */

@media (min-width: 460px) { /* Media querie agregada por Laura */
    .fas.fa-shopping-cart {
        margin-right: 10px;
    }
    .fas.fa-user-circle {
        margin-left: 10px;
    }
    .cu-icon{
        margin-right: 15px;
    }
}

@media (min-width: 768px) {
    header {
        justify-content: space-between;
    }
    .m-socials-container{
        display: none;
    }
    .tab-lap-social{
        display: flex;
        flex-direction: column;
    }
    ul.tab-lap-social li{
        margin: 5px;
    }
}

@media (min-width: 1024px) {
    header {
        justify-content: space-around;
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .burger-menu{
        display: none;
    }
    .nav-bar ul {
        width: 100%;
    }
    .nav-bar ul li {
        display: inline-block;
        padding: 0px 25px;
        margin: 5px 0px
    }
}


/* Líneas agregadas por Andrés */
.container-fluid {
    padding: 10px;
    margin: 0px;
}

.carousel-inner {
    max-height: 400px;
}
.carousel-item {
    max-height: 400px;
}
.carousel-item img{
    height: 100%;
    width: 100%;    
}