* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efebe2;
    font-family: 'Archivo Narrow', sans-serif
}
a {
    color: #4c3524;
    text-decoration: none;
    transition-duration: 0.25s;
    align-self: center;
}
a:hover{
    background-color: #87c99b;
    border-radius: 3px;
}

#logo {
    width: 200px;
}

main {
    height: 100vh;
    color: rgb(70, 70, 70);
    background-color: #efebe2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
.log-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background-color: #ccb489;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgb(161, 161, 161);
}
h3 {
    text-align: center;
    margin-bottom: 20px;
}
.log-item{
    width: 95%;
    height: 25px;
    margin: 10px 0px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid white;
}
.rememberme-container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 10px 0px;
}
.rememberme-container label {
    font-size: 14px;
    margin: 0px 5px;
}

.pass-forgot {
    margin: 50px 0px 0px 0px;
    font-size: 14px;
    justify-content: center;
}

.log-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    min-width: 90px;
    max-width: 175px;
    width: 33%;
    height: 50px;
    background-color: #87c99b;
    border: 1px solid #87c99bcc;
    border-radius: 8px;
    font-weight: bold;
    color: rgb(32, 32, 32);
    font-family: 'Archivo Narrow';
    font-size: 18px;
}

.reg-log {
    text-align: center;
    padding: 30px;
    color: #666;
}



@media (min-width: 768px) {
    .log-container{
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .log-container{
        width: 30%;
    }
}