body{
    background-color:#152746;
    background-image: url(/images/404.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}