<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %> 
  <body>
    <main>
      <a href="/">
        <img id="logo" src="/images/FreeFood2f.png" alt="logo">
      </a>
      <form id="login-form" class="log-container" action="/user/login" method="post">
        <h3>Accedé a tu cuenta</h3>
        <div class="item-container">
          <i class="fas fa-user"></i>
          <input class="log-item" type="text" name="emailUser" id="emailUser" placeholder="Email/Usuario">
        </div>
        <small id="error-emailUser" class="error-input"></small>

        <div class="item-container">
          <i class="fas fa-lock"></i>
          <input class="log-item" type="password" name="password" id="password" placeholder="Contraseña">
        </div>
        <small id="error-password" class="error-input"></small>

        <div class="rememberme-container">
          <input type="checkbox" name="remember_user" id="remember_user">
          <label for="remember_user">Recordarme</label>
        </div>
        <% if(typeof errors != 'undefined') {%>
          <% for(singleError in errors) {%>
            <small class="error-input"><%= errors[singleError].msg %></small>
          <% } %>
        <% } %> 

        <button type="submit" class="log-button" id="log-button">INGRESAR</button>
        <a class="pass-forgot" href="#">¿Olvidaste tu contraseña?</a>
      </form>
      <div class="reg-log">
        ¿No tenés cuenta? <a href="/user/register">Ingresá aquí</a>
      </div>
    </main>
    <script src="/static/js/validations.js"></script>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
  </body>
</html>