<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/styles_log.css">

    <title>LOG IN</title>
</head>
<body>
    <header>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <img id="logo" src="images/TEST.png" alt="logo">

            <nav class="nav-bar">
                <input class="search-bar" type="search" value="Buscar productos...">
                    
                <ul>
                    <li>
                        <a href="/products">Categorias</a>
                    </li>
                    <li>
                        <a href="#">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Historia</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
            </nav>

            <div class="cu-icon">
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                <a href="/register"><i class="fas fa-user-circle"></i></a>
            </div>
    </header>
    
    <main>
        <form class="log-container" action="/" method="GET">
            <h3>Accedé a tu cuenta</h3>
            
            <input class="log-item" type="text" name="userLog" id="userLog" placeholder="Usuario">
            
            <input class="log-item" type="password" name="passLog" id="passLog" placeholder="Contraseña">
            
            <div class="rememberme-container">
                <input type="checkbox" name="checkbox" id="checkbox">
                <label for="checkbox">Recordarme</label>
            </div>
            
            <button class="log-button">LOG IN</button>
        
            <a class="pass-forgot" href="#">¿Olvidaste tu contraseña?</a>
            
        </form>
        
        <div class="reg-log">
            ¿No tienes cuenta? <a href="/register">Ingresá aquí</a>
        </div>
    </main>
    
    <footer>
        <div class="m-socials-container">
            <ul type="none">
                <li>Contactanos</li>
                <li>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-twitter"></i>
                </li>
                <li>3804-889911</li>
                <li>Calle falsa 123</li>
            </ul>
        </div>
        
        <div class="foot-container">
            <ul class="listas" type="none">
                <li><a href="#">Leagales</a></li>
                <li><a href="#">Politica de privacidad</a></li>
                <li><a href="#">Defensa del conumidor</a></li>
            </ul>
            <ul class="listas" type="none">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Zonas de reparto</a></li>
                <li><a href="#">Trabajá con nosotros</a></li>
            </ul>
            <ul class="tab-lap-social" type="none">
                <li>Contactanos</li>
                <li>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-twitter"></i>
                </li>
                <li>3804-889911</li>
                <li>Calle falsa 123</li>
            </ul>
        </div>
        
    </footer>
   
</body>
</html>