<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de producto</title>    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles_productDetail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <img id="logo" src="images/FreeFood2f.png" alt="logo">

        <nav class="nav-bar">
            <input class="search-bar" type="search" value="Buscar productos...">
                
            <ul>
                <li>
                    <a href="/products">Categorias</a>
                </li>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Historia</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
        </nav>

        <div class="cu-icon">
            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="/register"><i class="fas fa-user-circle"></i></a>
        </div>
</header>
    
    <div class="contenedorGeneral">
             
    
                
        <a href="/">HOME</a>
        <h3>MILANESA CON PAPAS FRITAS</h3>
           
            <div class="contenedorImagenProducto1">
                <img src="images/comida1.jpg">       
            </div>
                
            <div class="contenedorProducto1">
                <h5>$950</h5>
                <h5>Milanesa con papas fritas</h5>
                <h4>Agregar al Carrito</h4>
                    
                    <div class="iconList">  <i class="fas fa-caret-square-down"></i> </div>
                        <h5>CATEGORIA: VIANDAS EXPRESS</h5>
                        <h5 class="descripcionComida"> Descripción: carne de ternera empanada con pan rayado y huevo acompañada de una guarnición de papas bastón fritas en aceite vegetal.</h5>                
                    </div>       
 
            <!--Saque el button fuera del contenedorGeneralPR-->        
            <button class="productosRelacionados">
                Productos Relacionados
            </button>
            <div class="ContenedorGeneralPR">
        
                <br>
                <br>
                <br>
            
                                   
                <div class="contenedorProducto2">
                    <!--Puse la imagen y titulos dentro de sus contenedores-->
                    <img src="images/comida2.jpg" alt="">
                    <h3>MILANESA CON PURÉ</h3>
                    
                    <h5>$750</h5>
                    <h4>Agregar al Carrito</h4>
                        
                        <div class="iconList">  <i class="fas fa-caret-square-down"></i> </div>
                                    
                        </div>       
     
                        <br>
                        <br>
                
                                   
                <div class="contenedorProducto3">
                    <!--Puse la imagen y titulos dentro de sus contenedores-->
                    <img src="images/comida3.jpg" alt="">
                    <h3>SUPREMA MARYLAND</h3>
                    <h5>$1450</h5>
                    <h4>Agregar al Carrito</h4>
                        
                        <div class="iconList">  <i class="fas fa-caret-square-down"></i> </div>
                                    
                        </div>       
  

                        <br>
                        <br>
                                   
                <div class="contenedorProducto4">
                    <!--Puse la imagen y titulos dentro de sus contenedores-->
                    <img src="images/comida4.jpg" alt="">
                    <h3>SUPREMA SUIZA</h3>
                    <h5>$1350</h5>
                    <h4>Agregar al Carrito</h4>
                        
                        <div class="iconList">  <i class="fas fa-caret-square-down"></i> </div>
                                    
                        </div>       
            </div>
            
            
            </div>
 

 
 
        </div>
        <footer>
            <div class="m-socials-container">
                <ul type="none">
                    <li>Contactanos</li>
                    <li>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-whatsapp"></i>
                        <i class="fab fa-twitter"></i>
                    </li>
                    <li>3804-889911</li>
                    <li>Calle falsa 123</li>
                </ul>
            </div>
            
            <div class="foot-container">
                <ul class="listas" type="none">
                    <li><a href="#">Leagales</a></li>
                    <li><a href="#">Politica de privacidad</a></li>
                    <li><a href="#">Defensa del conumidor</a></li>
                </ul>
                <ul class="listas" type="none">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Zonas de reparto</a></li>
                    <li><a href="#">Trabajá con nosotros</a></li>
                </ul>
                <ul class="tab-lap-social" type="none">
                    <li>Contactanos</li>
                    <li>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-whatsapp"></i>
                        <i class="fab fa-twitter"></i>
                    </li>
                    <li>3804-889911</li>
                    <li>Calle falsa 123</li>
                </ul>
            </div>
            
        </footer>
    

</body>
</html>