<footer>
  <div class="listas-footer-movil">
    <ul>
      <li>Contactanos</li>
      <li>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-whatsapp"></i>
        <i class="fab fa-twitter"></i>
      </li>
      <li>3804-889911</li>
      <li>Calle falsa 123</li>
    </ul>
  </div>

  <div class="footer-container">
    <ul class="listas-footer">
      <li><a href="#">Legales</a></li>
      <li><a href="#">Política de privacidad</a></li>
      <li><a href="#">Defensa del consumidor</a></li>
    </ul>
    <ul class="listas-footer">
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Zonas de reparto</a></li>
      <li><a href="#">Trabajá con nosotros</a></li>
    </ul>
    <ul class="listas-footer-desktop">
      <li>Contactanos</li>
      <li>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-whatsapp"></i>
        <i class="fab fa-twitter"></i>
      </li>
      <li>3804-889911</li>
      <li>Calle falsa 123</li>
    </ul>
  </div>
</footer>
