* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif
}



header{
    background-color: rgb(72, 155, 100);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin: 10px 0px;
    width: 150px;
    height: 50px;
}
.search-bar {
    display: block;
    width: 100%;
    height: 25px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    color: #aaa
}
.burger-menu {
    margin: 10px 15px;
    padding: 10px;
}
.burger-menu i {
    font-size: 25px;
}

.nav-bar{
    display: none;
}
.nav-bar ul li {
    display: inline-block;
    padding: 0px 25px;
}

.fas.fa-shopping-cart {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}
.fas.fa-user-circle {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}



footer {
    background-color: rgb(160, 120, 45);
}
.foot-container {
    margin: 0px 10px;
    display: flex;
    justify-content: space-around;
}
.listas{
    text-decoration: none;
    font-size: 14px;
}
.foot-container ul li {
    margin: 15px 10px;
}
.m-socials-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.m-socials-container ul li {
    margin: 5px;
}
.tab-lap-social {
    display: none;
}


.fab.fa-twitter{
    font-size: 25px;
}
.fab.fa-facebook{
    font-size: 25px;
}

.fab.fa-whatsapp{
    font-size: 25px;
}

.fab.fa-instagram{
    font-size: 25px;
}



@media (min-width: 768px) {
    .log-container{
        width: 50%;
    }
    header {
        justify-content: space-between;
    }
    .m-socials-container{
        display: none;
    }
    .tab-lap-social{
        display: flex;
        flex-direction: column;
    }
    ul.tab-lap-social li{
        margin: 5px;
    }
}

@media (min-width: 1024px) {
    header {
        justify-content: space-around;

    }
    .cu-icon {
        margin-right: 30px;
        
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
    }
    .burger-menu{
        display: none;
    }
    .log-container{
        width: 30%;
    }
}