<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Food - Carrito de compras</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="/css/styles_car.css">
</head>

<body>
    <!-- <header>
        <a href="/"><img class="logo" src="/images/FreeFood2f.png" alt="Aquí va una imagen"></a>
    </header> -->

    <header>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <a href="/"><img id="logo" src="images/FreeFood2f.png" alt="logo"></a>

        <nav class="nav-bar">
            <input class="search-bar" type="search" placeholder="Buscar productos...">
                
            <ul>
                <li>
                    <a href="/products">Categorías</a>
                </li>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Historial</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
        </nav>

        <div class="cu-icon">
            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="/register"><i class="fas fa-user-circle"></i></a>
        </div>
    </header>

    <main>

        <div class="tittle-close">
            <h2 class="tittle-page">Carrito de compras</h2>
            <a href="/" class="fas fa-times close"></a>
        </div>
    
        <article class="main-article">
            <img src="/images/fPolloFritoVegetales.png" alt="Aquí va una imagen">
            <div class="product-detail">
                <i class="fas fa-trash trash"></i>
                <br>
                <h3>Pollo frito con papas rústicas</h3>
                <br>
                <h4>Precio: $1050</h4>
                <br>
                <div class="subtotal-module">
                    <form action="" method="">
                        <select class="quantity" name="quantity" id="quantity">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                    <span class="subtotal">$1050</span>
                </div>
            </div>
        </article>
    
        <article class="main-article">
            <img src="/images/fSalmonVegetales.png" alt="Aquí va una imagen">
            <div class="product-detail">
                <i class="fas fa-trash trash"></i>
                <br>
                <h3>Salmón con vegetales frescos</h3>
                <br>
                <h4>Precio: $1550</h4>
                <br>
                <div class="subtotal-module">
                    <form action="" method="">
                        <select class="quantity" name="quantity" id="quantity">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                    <span class="subtotal">$1550</span>
                </div>
            </div>
        </article>
    
        <article class="main-article">
            <img src="/images/fCostillas.png" alt="Aquí va una imagen">
            <div class="product-detail">
                <i class="fas fa-trash trash"></i>
                <br>
                <h3>Ribs de cerdo</h3>
                <br>
                <h4>Precio: $1750</h4>
                <br>
                <div class="subtotal-module">
                    <form action="" method="">
                        <select class="quantity" name="quantity" id="quantity">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                    <span class="subtotal">$1750</span>
                </div>
            </div>
        </article>
    
        <section class="end-section">
            <div class="end-subtotal">
                <h4>Subtotal</h4>
                <span>$4350</span>
            </div>
            <div class="shipping">
                <h4>Envío</h4>
                <span>Por definir</span>
            </div>
            <div class="total">
                <h4>Total</h4>
                <span>$4350</span>
            </div>
        </section>
    
        <form action="/cart" method="get" class="apply-code">
            <input type="text" name="discount-code" id="discount-code" placeholder="Código de descuento" minlength="8" maxlength="12" class="code">
            <button type="submit" value="apply" class="apply">Aplicar</button>
        </form>
        <form action="/notFound" method="get" class="button">
            <button type="submit" value="end" class="end">Finalizar Compra</button>
        </form>
        <form action="/" method="get" class="button">
            <button type="submit" value="continue" class="continue">Seguir comprando</button>
        </form>

    </main>

    <footer>
        <div class="m-socials-container">
            <ul type="none">
                <li>Contactanos</li>
                <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li><a href="#">3804-889911</a></li>
                <li>Calle falsa 123</li>
            </ul>
        </div>
        
        <div class="foot-container">
            <ul class="listas" type="none">
                <li><a href="#">Legales</a></li>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Defensa del consumidor</a></li>
            </ul>
            <ul class="listas" type="none">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Zonas de reparto</a></li>
                <li><a href="#">Trabajá con nosotros</a></li>
            </ul>
            <ul class="tab-lap-social" type="none">
                <li>Contactanos</li>
                <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li><a href="#">3804-889911</a></li>
                <li>Calle falsa 123</li>
            </ul>
        </div>
        
    </footer>
</body>
</html>