<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles_productDetail.css">
    <link rel="icon" href="images/favicon.ico">

    
    <title>Free Food - Detalle de producto</title>
</head>
<body>
    <header>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <a href="/"><img id="logo" src="images/FreeFood2f.png" alt="logo"></a>

        <nav class="nav-bar">
            <input class="search-bar" type="search" placeholder="Buscar productos...">
                
            <ul>
                <li>
                    <a href="/products">Categorías</a>
                </li>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Historial</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
        </nav>

        <div class="cu-icon">
            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="/register"><i class="fas fa-user-circle"></i></a>
        </div>

    </header>

    <main>
        <nav class="nav-dishes">
            
            <p><a href="#"><i class="fas fa-angle-left"></i>Anterior plato</a></p>
            <p><a href="#"><i class="fas fa-utensils"></i>Menú principal</a></p>
            <p><a href="#">Siguiente plato<i class="fas fa-angle-right"></i></a></p>
            
        </nav>
        
        <article class="main-product">
            <h2 class="title">Pasta fresca con Langostinos</h2>
            
            <img id="image" src="images/fNoodles.png" alt="Milanesa Vegetales">
            
            
            <div class="main-detail">
                <h2 class="title0">Pasta fresca con Langostinos</h2>
                
                <p class="name">Descripción: Cintas de harina de semola envuelta en vegetales frescos con langostinos salteados</p>
                <p class="price">$2100</p>
                <p class="list">Elegir la cantidad: 
                    <select name="lista">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </p>
                <button class="add-button">Agregar al carrito</button>
            </div>

        </article>

        <section>
            <h3>PRODUCTOS RELACIONADOS</h3>
            <article class="reco">
                <div class="product">
                
                    
                    <img id="image" src="images/fFalafelHummus.png" alt="" title="">
                    
                    
                    <div class="info">
                        <p class="price">$1000</p>
                        <p class="dicount">40% OFF</p>
                        <p class="name">Falafel vegetariano con hummus</p>
                        <p class="descrip">Descripción: Albóndigas con base de garbanzos y especias varias acompañada de suave crema de garbanzos y vegetales</p>
                        
                    </div>
                    <div class="add-to">
                        <p class="list">Elegir la cantidad: 
                            <select name="lista">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </p>
                        <button class="add-button0">Agregar al carrito</button>
                    </div>
                </div>
                
                <div class="product">
                
                    
                    <img id="image" src="images/fCostillas.png" alt="" title="">
                    
                    
                    <div class="info">
                        <p class="price">$1750</p>
                        <p class="dicount">40% OFF</p>
                        <p class="name">Ribs de cerdo</p>
                        <p class="descrip">Descripción: Tiernas costillas de carne de cerdo a la parrilla con salsas varias</p>

                    </div>
                    <div class="add-to">
                        <p class="list">Elegir la cantidad: 
                            <select name="lista">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </p>
                        <button class="add-button0">Agregar al carrito</button>
                    </div>
                </div>

                <div class="product">
                
                    
                    <img id="image" src="images/fPaellaMediterranea.png" alt="" title="">
                    
                    
                    <div class="info">
                        <p class="price">$1900</p>
                        <p class="dicount">40% OFF</p>
                        <p class="name">Paella Mediterránea</p>
                        <p class="descrip">Descripción: Arroz acompañado de mariscos varios con vegetales al wok</p>

                    </div>
                    <div class="add-to">
                        <p class="list">Elegir la cantidad: 
                            <select name="lista">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </p>
                        <button class="add-button0">Agregar al carrito</button>
                    </div>
                </div>

                <div class="product">
                
                    
                    <img id="image" src="images/fPolloFritoVegetales.png" alt="" title="">
                    
                    
                    <div class="info">
                        <p class="price">$1350</p>
                        <p class="dicount">40% OFF</p>
                        <p class="name">Pollo Frito</p>
                        <p class="descrip">Descripción: menudos de pollo marinados fritos a la sartén.</p>

                    </div>
                    <div class="add-to">
                        <p class="list">Elegir la cantidad: 
                            <select name="lista">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </p>
                        <button class="add-button0">Agregar al carrito</button>
                    </div>
                </div>
                

            </article>

        </section>

    </main>

    <footer>
        <div class="m-socials-container">
            <ul type="none">
                <li>Contactanos</li>
                <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li><a href="#">3804-889911</a></li>
<li>Calle falsa 123</li>
            </ul>
        </div>
        
        <div class="foot-container">
            <ul class="listas" type="none">
                <li><a href="#">Legales</a></li>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Defensa del consumidor</a></li>
            </ul>
            <ul class="listas" type="none">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Zonas de reparto</a></li>
                <li><a href="#">Trabajá con nosotros</a></li>
            </ul>
            <ul class="tab-lap-social" type="none">
                <li>Contactanos</li>
                <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li><a href="#">3804-889911</a></li>
                <li>Calle falsa 123</li>
            </ul>
        </div>
        
    </footer>
</body>
</html>