<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de producto</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">

    <!--hago el link a la hoja de estilos del header y footer "styles.css"
        y ademas la pongo ANTES de la hoja de estilos de detalles de producto para que no genere problemas-->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles_productDetail.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />


</head>

<body>


    <header>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <a href="/"><img id="logo" src="images/FreeFood2f.png" alt="logo"></a>

        <nav class="nav-bar">
            <input class="search-bar" type="search" value="Buscar productos...">

            <ul>
                <li>
                    <a href="/products">Categorías</a>
                </li>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Historia</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
        </nav>

        <div class="cu-icon">
            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="/register"><i class="fas fa-user-circle"></i></a>
        </div>
    </header>


    <main>

        <div class="contenedorGeneral">



            <a href="/">HOME</a>
            <h3>MILANESA CON PAPAS FRITAS</h3>

            <div class="contenedorImagenProducto1">
                <img src="images/comida1.jpg">
            </div>

            <div class="contenedorProducto1">
                <h5>$950</h5>
                <h5>Milanesa con papas fritas</h5>
                <button class="botones">Agregar al Carrito</button>
                <p>Eligir la cantidad:
                    <select name="lista">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </p>


                <h5>CATEGORIA: VIANDAS EXPRESS</h5>
                <h5 class="descripcionComida"> Descripción: carne de ternera apanada con pan rayado y huevo, acompañada
                    de una guarnición de papas bastón fritas en aceite vegetal.</h5>
            </div>


            <button class="productosRelacionados">
                Productos Relacionados

            </button>
            <div class="ContenedorGeneralPR">

                <br>
                <br>
                <br>


                <div class="contenedorProducto2">

                    <img src="images/comida2.jpg" alt="">
                    <h3>MILANESA CON PURÉ</h3>

                    <h5>$750</h5>
                    <button class="botones">Agregar al Carrito</button>

                    <p>Eligir la cantidad:
                        <select name="lista">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </p>


                </div>

                <br>
                <br>


                <div class="contenedorProducto3">

                    <img src="images/comida3.jpg" alt="">
                    <h3>SUPREMA MARYLAND</h3>
                    <h5>$1450</h5>
                    <button class="botones">Agregar al Carrito</button>
                    <p>Eligir la cantidad:
                        <select name="lista">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </p>


                </div>


                <br>
                <br>

                <div class="contenedorProducto4">

                    <img src="images/comida4.jpg" alt="">
                    <h3>SUPREMA SUIZA</h3>
                    <h5>$1350</h5>
                    <button class="botones">Agregar al Carrito</button>
                    <p>Eligir la cantidad:
                        <select name="lista">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </p>


                </div>
            </div>


        </div>




        </div>


    </main>



    <footer>
        <div class="m-socials-container">
            <ul type="none">
                <li>Contactanos</li>
                <li>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-twitter"></i>
                </li>
                <li>3804-889911</li>
                <li>Calle falsa 123</li>
            </ul>
        </div>

        <div class="foot-container">
            <ul class="listas" type="none">
                <li><a href="#">Legales</a></li>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Defensa del consumidor</a></li>
            </ul>
            <ul class="listas" type="none">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Zonas de reparto</a></li>
                <li><a href="#">Trabajá con nosotros</a></li>
            </ul>
            <ul class="tab-lap-social" type="none">
                <li>Contactanos</li>
                <li>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-twitter"></i>
                </li>
                <li>3804-889911</li>
                <li>Calle falsa 123</li>
            </ul>
        </div>

    </footer>

</body>

</html>