.a-form {
  color: #4c3524;
  text-decoration: none;
  transition-duration: 0.25s;
  align-self: center;
}
#logo-edit-create {
  text-align: center;
}

#logo {
  width: 200px;
}

.main-register {
  height: 100vh;
  color: rgb(66, 66, 66);
  background-color: #efebe2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-user-profile {
  margin: 0px 0px 30px 0px;
  color: rgb(66, 66, 66);
  background-color: #efebe2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-edit-create {
  color: rgb(66, 66, 66);
  background-color: #efebe2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.buy-navbar {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  padding: 10px;
  /*background-color: #ccb489;*/
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  font-size: 20px;
}

.log-container,
.log-container-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background-color: #ccb489;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  font-size: 20px;
}

.log-container-profile {
  padding-top: 20px;
  box-shadow: 0px 0px 10px rgb(161, 161, 161);
}
.log-container {
  box-shadow: 0px 0px 10px rgb(161, 161, 161);
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

h5 {
  text-align: center;
  margin-bottom: 20px;
}
.log-item-image,
.log-item {
  width: 100%;
  height: 25px;
  padding: 15px;
  border: 2px solid #ccb489;
  border-bottom: 2px solid #ebd2a3;
  background-color: #ccb489;
  font-size: 16px;
  font-weight: bold;
  align-self: flex-end;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: justify;
}

#image {
  height: auto;
}

.log-item-image {
  height: 45px;
  padding: 5px;
}

.log-item::placeholder {
  color: rgba(66, 66, 66, 0.66);
}

.log-item:focus {
  background-color: #87c99b6e;
}

.log-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 10px 0px;
  min-width: 100px;
  width: 90%;
  height: 44px;
  background-color: #87c99b;
  border: 1px solid #87c99bcc;
  border-radius: 8px;
  font-weight: bold;
  color: rgb(32, 32, 32);
  font-family: "Archivo Narrow";
  font-size: 18px;
  transition-duration: 0.25s;
}

.log-button:hover {
  background-color: #6fa57f;
}

.reg-log {
  text-align: center;
  padding: 30px;
  color: #666;
}

form label {
  align-self: flex-start;
}

.container-radio,
.container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  margin: 5px auto 10px auto;
}
.container-radio {
  justify-content: center;
}

.container i {
  width: 50px;
  font-size: 30px;
  border: 2px solid #ebd2a3;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
}

.container-button {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.label {
  width: 90%;
  text-align: center;
  margin: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}
.button-box {
  display: flex;
  justify-content: space-evenly;
}

.radio-box {
  display: flex;
  justify-content: space-around;
  width: 15%;
}
.error-input {
  padding: 0 10px 0 10px;
  font-size: 14px;
  background-color: #c98787be;
  color: rgb(66, 66, 66);
  border-radius: 5px;
}

@media (min-width: 768px) {
  .buy-navbar {
    width: 50%;
  }
  .log-container,
  .log-container-profile {
    max-width: 620px;
  }
}

@media (min-width: 1024px) {
  .buy-navbar {
    width: 30%;
  }
}
