<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>

    <main>
        <h1>PAGINA DE PRODUCTOS/CATEGORIAS</h1>
        <br>
        <h1>UNDER CONSTRUCTION</h1>
    </main>

    <%- include('partials/footer.ejs') %>
</body>
</html>