.sidebar-container {
    width: 23%!important;
    min-height: 100vh;
    min-width: 200px;
    background-color: #efebe2;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.sidebar-nav-item {
    position: relative;
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
}

.sidebar-link {
    color: rgba(0,0,0,.8);
    display: block;
    text-align: left;
    padding: 1rem;
    width: 14rem;
    position: relative;
    list-style: none;
    text-decoration: none;
}

.sidebar-icon {
    color: rgba(0,0,0,.3);
    font-size: 1rem;
    margin-right: 0.5rem;
}

.sidebar-span {
    font-size: 15px;
    font-weight: bold;
    display: inline;
    text-decoration:none;
    color: #666666;
}

.sidebar-divider {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    border-top: 1px solid rgba(255,255,255,.15);
    margin: 0 1rem 1rem;
}


