<!DOCTYPE html>
<html lang="en">
    
    <%- include('partials/head.ejs') %> 
    
    <body>
        
        <main class="main-register">
    
            <a class="a-form" href="/"><img id="logo" src="/images/FreeFood2f.png" alt="logo"></a>
    
            <form class="log-container" action="/user/register" method="POST" enctype="multipart/form-data">
                
                <h2>Creá tu cuenta</h2>

                <h5>Por favor ingresá los siguientes datos</h5> 
                
                <div class="container">    
                    <i class="fas fa-id-card-alt"></i>                    
                    <input class="log-item" type="text" name="firstName" id="firstName" placeholder="Nombres" required minlength="3" maxlength="20">    
                </div>

                <div class="container">    
                    <i class="fas fa-address-card"></i>                  
                    <input class="log-item" type="text" name="lastName" id="lastName" placeholder="Apellidos" required minlength="3" maxlength="20">    
                </div>

                <div class="container">
                    <i class="fas fa-home"></i>
                    <input class="log-item" type="text" name="address" id="address" placeholder="Dirección" required minlength="10" maxlength="50">    
                </div>

                <div class="container">    
                    <i class="fas fa-phone"></i>              
                    <input class="log-item" type="text" name="phone" id="phone" placeholder="Teléfono" required minlength="10" maxlength="12">    
                </div>

                <div class="container">    
                    <i class="fas fa-at"></i>
                    <input class="log-item" type="email" name="email" id="email" placeholder="E-Mail" required minlength="8">    
                </div>
                
                <div class="container">    
                    <i class="fas fa-user"></i>                    
                    <input class="log-item" type="text" name="username" id="username" placeholder="Usuario" required minlength="8">    
                </div>
                
                <div class="container">    
                    <i class="fas fa-unlock-alt"></i>              
                    <input class="log-item" type="password" name="password" id="password" placeholder="Contraseña" required minlength="8">    
                </div>

                <div class="container">    
                    <i class="fas fa-unlock-alt"></i>              
                    <input class="log-item" type="password" name="repeatPassword" id="repeatPassword" placeholder="Repetir Contraseña" required minlength="8">    
                </div>
                
                <div class="container">
                    <i class="fas fa-portrait"></i>
                    <div class="log-img">
                        <span>Imagen de perfil</span>
                        <input class="upload" type="file" id="image" name="image" accept="image/png, image/jpeg" required>
                    </div>
                </div>
                
                <button class="log-button">Crear cuenta</button>            
                
            </form>
            
            <div class="reg-log">
                ¿Ya tenés cuenta? <a href="/user/login">Ingresá aquí</a>
            </div>
        </main>
    
    </body>
</html>