<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    
    <%- include('partials/header.ejs') %>

    <main class="main-user">
        <div class="profile-history">
            <h2>Perfil de usuario</h2>
            <a>Historial de compras</a>
        </div>
        <br>

        <form class="input-container-form" action="/user" method="GET">

            <label for="username"><h3>@Username</h3></label>
            <div class="info-container-div">
                <i class="fas fa-user"></i>
                <input type="text" name="username" id="username" placeholder="@Username">
            </div>
            
            <label for="userimage"><h4>Foto de perfil</h4></label>
            <img src="/images/avatar/AM.png" alt="Profile pic" title="Profile pic">
            <input type="file" name="userimage" id="userimage">

            <label for="userfirstname"><h4>Nombre</h4></label>
            <div class="info-container-div">
                <i class="fas fa-id-badge"></i>
                <input type="text" name="userfirstname" id="userfirstname" placeholder="Nombre">
            </div>

            <label for="userlasttname"><h4>Apellido</h4></label>
            <div class="info-container-div">
                <i class="fas fa-id-badge"></i>
                <input type="text" name="userlastname" id="userlastname" placeholder="Apellido">
            </div>

            <label for="address"><h4>Domicilio</h4></label>
            <div class="info-container-div">
                <i class="fas fa-map-marker-alt"></i>
                <input type="text" name="address" id="address">
            </div>
            
            <label for="phone"><h4>Teléfono</h4></label>
            <div class="info-container-div">
                <i class="fas fa-mobile-alt"></i>
                <input type="tel" name="phone" id="phone">
            </div>

            <label for="email"><h4>Email</h4></label>
            <div class="info-container-div">
                <i class="fas fa-at"></i>
                <input type="email" name="email" id="email">
            </div>
            
            <label for="password"><h4>Contraseña</h4></label>
            <div class="info-container-div">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" id="password">
            </div>
            <label for="rePassword"><h4>Repetir Contraseña</h4></label>
            <div class="info-container-div">
                <i class="fas fa-lock"></i>
                <input type="password" name="rePassword" id="rePassword">
            </div>
            
            <div class="btn-container">
                <button type="submit">Guardar</button>
                <button type="reset">Borrar</button>
            </div>
            
        </form>
        
    </main>

    <%- include('partials/footer.ejs') %> 

</body>
