<footer>
    <div class="m-socials-container">
        <ul type="none">
            <li>Contactanos</li>
            <li>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-twitter"></i>
            </li>
            <li>3804-889911</li>
            <li>Calle falsa 123</li>
        </ul>
    </div>
    
    <div class="foot-container">
        <ul class="listas" type="none">
            <li><a href="#">Legales</a></li>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Defensa del consumidor</a></li>
        </ul>
        <ul class="listas" type="none">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Zonas de reparto</a></li>
            <li><a href="#">Trabajá con nosotros</a></li>
        </ul>
        <ul class="tab-lap-social" type="none">
            <li>Contactanos</li>
            <li>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-twitter"></i>
            </li>
            <li>3804-889911</li>
            <li>Calle falsa 123</li>
        </ul>
    </div>
    
</footer>