<header>

    <button id="burger-button">
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </button>

    <ul class="test">
      <li>
        <li>
          <a href="/products">Menu</a>
      </li>
      </li>
      <li>
        <a href="#">Ofertas</a>
      </li>
      <li>
        <a href="#">Historial</a>
      </li>
      <li>
        <a href="#">Ayuda</a>
      </li>
    </ul>
    </ul>
    
    
    <a href="/"><img id="logo" src="/images/FreeFood2f.png" alt="logo"></a>

    <nav class="nav-bar">
      <input class="search-bar" type="search" value="Buscar productos...">

      <ul>
        
          <li class="main-menu">
            <a href="/products">Menu</a>
            <ul class="list">
                <li><a href="/products/carnes">Carnes</a></li>
                <li><a href="/products/pastas">Pastas</a></li>
                <li><a href="/products/ensaladas">Ensaladas</a></li>
                <li><a href="/products/tartas">Tartas</a></li>
                <li><a href="/products/postres">Postres</a></li>
                <li><a href="/products/bebidas">Bebidas</a></li>
                <li><a href="/products/hamburguesas">Hamburguesas</a></li>
            </ul>
          </li>
        
        <li>
          <a href="#">Ofertas</a>
        </li>
        <li>
          <a href="#">Historial</a>
        </li>
        <li>
          <a href="#">Ayuda</a>
        </li>
      </ul>
    </nav>

    <div class="cu-icon">
      <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
      <div class="u-icon">
        <a href="/user/register"><i class="fas fa-user-circle"></i></a>
          <ul class="list">
            <li>
              <form action="/user" method="GET">
                <button type="submit">PERFIL</button>
              </form>
            </li>
            <li>
              <form action="/user/register" method="GET">
                <button type="submit">REGISTRATE</button>
              </form>
            </li>
            <li>
              <form action="/user/login" method="GET">
                <button type="submit">INGRESA</button>
              </form>
            </li>
          </ul>
      </div>
      
    </div>

</header>