<header>

  <button id="burger-button-header">
    <div class="burger-menu-header">
      <i class="fas fa-bars"></i>
    </div>
  </button>
  
  <ul class="mobile-menu-header">
      <li><a href="/products/platoFuerte">Platos principales</a></li>
      <li><a href="/products/entrada">Entradas</a></li>
      <li><a href="/products/postre">Postres</a></li>
      <li><a href="/products/bebida">Bebidas</a></li>
  </ul>
  
  
  <a href="/"><img id="logo-header" src="/images/FreeFood2f.png" alt="logo"></a>

  <nav class="nav-bar-header">
    <form class="search-bar-form-header" action="" method="">
      <input class="search-bar-header" type="search" placeholder="Buscar productos...">
    </form>
    

    <ul>
      
        <li class="main-menu-header">
          <a href="/products">Menu</a>
          <ul class="main-menu-header-list">
              <li><a href="/products/platoFuerte">Platos principales</a></li>
              <li><a href="/products/entrada">Entradas</a></li>
              <li><a href="/products/postre">Postres</a></li>
              <li><a href="/products/bebida">Bebidas</a></li>
          </ul>
        </li>
      
      <li>
        <a href="#">Ofertas</a>
      </li>
      <li>
        <a href="#">Historial</a>
      </li>
      <li>
        <a href="#">Ayuda</a>
      </li>
    </ul>
  </nav>

  <div class="cu-icon-header">
    <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
    <div class="u-icon-header">
      <a href="/user/register"><i class="fas fa-user-circle"></i></a>
        <ul class="user-menu-list">
          <li>
            <form action="/user" method="GET">
              <button class="user-menu-button" type="submit">PERFIL</button>
            </form>
          </li>
          <li>
            <form action="/user/register" method="GET">
              <button class="user-menu-button" type="submit">REGISTRATE</button>
            </form>
          </li>
          <li>
            <form action="/user/login" method="GET">
              <button class="user-menu-button" type="submit">INGRESA</button>
            </form>
          </li>
          <li>
            <form action="/products/create" method="GET">
              <button class="user-menu-button" type="submit">CREAR PRODUCTO</button>
            </form>
          </li>
          <li>
            <form action="/products/edit" method="GET">
              <button class="user-menu-button" type="submit">EDITAR PRODUCTO</button>
            </form>
          </li>
        </ul>
    </div>
    
  </div>

</header>
