.user-product-container {
    display: flex;
    justify-content: space-between;
}

.last-card {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(65, 65, 65);
}

.last-img{
    margin: 10px;
    padding: 5px;
    width: 300px;
    border-radius: 10px;
    /* border: 1px black solid; */
}

.last-info-container{
    display:flex
}

.last-info{
    margin: 3px;
}

.last-user-container, .last-product-container{
    width: 50%;
}