
.content-wrapper {
    position: fixed;
    display: flex;
    /* height: 100%; */
    width: 100%;
}

/* .header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 20px;
    background-color: #333;
    font-size: 20px;
    color: #FFFFFF;
}
 
.content-wrapper {
    height: 100%;
    overflow: auto;
    padding: 0% 1% 0% 1%;
    width: 98%;
} */

