.profile-history {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .main-edit-create > h1 {
    display: block;
    text-align: center;
    margin: 10px;
    color: #444444;
  }
  .main-edit-create > a > img {
    max-width: 200px;
  }
  
  .input-container-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #ccb489;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgb(161, 161, 161);
    color: #444444;
  }
  .input-container-form > label > img {
    width: 100%;
    max-width: 250px;
    /* max-height: 300px; */
    align-self: center;
    border-radius: 10px;
  }
  .input-container-form > label > h4 {
    margin: 8px 0px 5px;
    color: #444444;
  }
  
  .btn-container {
    display: flex;
    justify-content: space-between;
  }
  .input-container-form > .btn-container > button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    margin-top: 30px;
    background-color: #87c99b;
    border: 1px solid #87c99bcc;
    border-radius: 10px;
    font-weight: bold;
    color: rgb(32, 32, 32);
    font-family: "Archivo Narrow", sans-serif;
    font-size: 17px;
    transition-duration: 0.25s;
    width: 100px;
  }
  .input-container-form > .btn-container > button:hover {
    background-color: #6fa57f;
  }
  
  .info-container-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    margin: 5px auto 10px auto;
  }
  .info-container-div > i {
    font-size: 30px;
    border: 2px solid #ebd2a3;
    padding: 5px;
    border-radius: 7px;
    color: #444444;
  }
  
  .input-container-form > div > input {
    width: 100%;
    height: 43px;
    padding: 15px;
    border: 2px solid #ccb489;
    border-bottom: 2.75px solid #ebd2a3;
    background-color: #ccb489;
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
  }
  .input-container-form > div > input::placeholder {
    color: rgba(66, 66, 66, 0.66);
  }
  .input-container-form > div > input:focus {
    background-color: #87c99b6e;
  }
  .input-container-form > div > input:disabled {
    background-color: #b9a379;
    color: grey;
  }
  
  .logo-form {
    display: block;
    text-align: center;
  }
  
  .input-container-form > textarea {
    border: 1px solid #87c99b;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    background-color: #b8a27a;
  }
  .input-container-form > textarea:focus {
    background-color: wheat;
  }
  .input-container-form > div > .img-input {
    padding: 0px;
  }
  .input-container-form > div > select {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 16px;
    width: 100%;
    background-color: #87c99b;
    border: 1px solid #87c99bcc;
    border-radius: 10px;
    padding: 8px;
  }
  .error-input {
    padding: 0 10px 0 10px;
    font-size: 16px;
    background-color: #c98787be;
    color: rgb(66, 66, 66);
    border-radius: 5px;
  }
  .btn-edit-field {
    margin-left: 10px;
    height: 30px;
    background-color: #87c99b;
    border: 1px solid #87c99bcc;
    border-radius: 5px;
    color: rgb(32, 32, 32);
    font-size: 18px;
    transition-duration: 0.1s;
    width: 30px;
    align-self: flex-end;
  }
  .btn-edit-field:hover {
    background-color: #6fa57f;
    cursor: pointer;
  }
  .btn-edit-field:active {
    color: white;
  }
  .input-title {
    display: flex;
  }
  
  @media (min-width: 640px) {
    .input-container-form > .btn-container {
      justify-content: space-evenly;
    }
  }
  @media (min-width: 768px) {
    .input-container-form {
      max-width: 690px;
    }
  }
  